body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.main-content {
    display: flex;
    flex-direction: column;
    max-width: 800px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

.contact-bar {
    background-color: #956F77; /* Adjust the color as needed */
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-buttons {
    display: flex;
    margin-top: 20px;
}
.social-media-buttons a {
    margin-right: 10px;
}
.social-media-buttons a:hover {
    border-radius: 50%;
    background-color: #959841; /* Set the background color on hover */
}
.social-media-buttons img {
    width: 30px; /* Adjust the size of the social media icons */
    height: auto;
}
.download-button {
    background-color: #fff;
    color: #464646;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Make it behave like a block element without disrupting the flow */
    margin-right: 10px; /* Adjust margin as needed */
    cursor: pointer;
}


/* Change color on hover */
.download-button:hover {
    background-color: #464646;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: #eaebdc;
}

.headshot-container {
    position: relative;
    margin-right: 100px;
}

.headshot {
    border-radius: 50%;
    width: 200px; /* Adjust the size as needed */
    height: 200px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.headshot-background {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #956F77; /* Adjust the color as needed */
    width: 200px; /* Adjust the size as needed */
    height: 200px;
    z-index: 0;
    pointer-events: none;
    /*margin: 10px; /* Add margin to separate the headshot from the background circle */
}
nav {
    background-color: #959841;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav :hover{
    color: #eaebdc;
}

section {
    text-align:left;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
#books {
    padding: 20px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.book-cover {
    width: 150px; /* Adjust the width of the book covers */
    margin-right: 10px; /* Adjust the margin between book covers */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: #3498db; /* Adjust the color of the arrows */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}
